.calendar-container {
  width: 98%;
  border-radius: 5px;
  height: 80vh;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  padding: 24px;
}
.calendar{
    height: 70vh !important
}
.calendar-container-1{
    height: 60vh;
}
.calendar-title{
    text-align: left;
    font-weight: bold;
}
.form-calendar-part{
    width: 23%;
}
.form-calendar-container{
    justify-content: space-between;
}