.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.rbc-event {

  background-color: red !important;

}

.rbc-time-content {
  overflow-y: scroll;
  /* For vertical scroll, use overflow-x for horizontal scroll */
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
}

.rbc-day-slot rbc-time-column rbc-now rbc-today {
  /* background-color: white !important */
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white;
}

.rbc-day-slot .rbc-events-container {
  background-color: rgba(255, 255, 255, 0.381);
}

.calendar-react-container {
  background-color: white;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.box-4-calendar {
  height: 300px !important;
  width: 100%;
}

.calendar-react-container .rbc-btn-group {
  display: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}