.devices-container {
  width: 98%;
  border-radius: 5px;
  margin: auto auto 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.device-container {
  width: 33%;
  padding: 24px;
  background-color: white;
  border-radius: 5px;
}

.device-image {
  height: 100px;
}
.device-id {
  text-align: left;
  font-weight: bold;
  color: grey;
  font-size: 10px;
  margin-bottom: 0px;
}
.device-location {
  text-align: left;
  font-size: 12px;
  margin-bottom: 0px;
}
.device-status {
  font-weight: bold;
  text-align: left;
  margin-bottom: 0px;
  align-self: center;
}
.device-svg {
  width: 50px;
  margin-left: auto;
  margin-right: 15px;
}
.device-status-container {
  display: flex;
  flex-wrap: wrap;
}
.device-info-container-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* This gives a semi-transparent black background */
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.device-info-container-1:hover {
  cursor: pointer;
}
.device-info-container-2 {
  width: 80%;
}
.device-metrics {
  margin: 0px;
}
.device-management-buttons {
  width: 98%;
  margin-bottom: 10px;
}
.add-device-svg {
  width: 70px;
  position: absolute;
  bottom: 10%;
  right: 20px;
  border-radius: 100%;
}
.add-device-svg:hover {
  cursor: pointer;
}

.add-device-container {
  width: 30%;
  padding: 24px;
  background-color: white;
  border-radius: 5px;
  cursor: auto;
}

.add-device-container-2 {
  width: 80%;
  margin: auto;
  margin-top: 15vh;
  /* overflow-x: "auto"; */
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  z-index: 5;
}
.table-add-devices-form {
  width: 100%;
}
.add-device-btn {
  position: absolute !important; /* or use 'fixed' if you want the button to stay in the same place even when scrolling vertically */
  right: 12%;
  z-index: 6;
}
.select-device-type {
  height: 100%;
  width: 100%;
}
hr {
  border-top: 1px solid black;
  width: 100%;
}
.device-management-buttons-1 {
  margin-top: -70px;
  height: 50px;
}
.upload-file-input {
  margin: auto;
  width: 100%;
}
.add-device-btn-1 {
  margin-left: auto;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  /* margin: 0; */
  /* padding: 0; */
  width: 100%;
  table-layout: fixed;
  overflow-y: auto;
}

table caption {
  font-size: 20px;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

.table-body:hover {
  background-color: #f8f8f866;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  font-size: 12px;
  width: 240px !important;
  /* display: block; */
  /* height: 100px; */
}

.form-add-device {
  width: 100%;
  text-align: left;
}
.device-management-buttons-2 {
  position: absolute !important;
  right: 12%;
  z-index: 6;
}
.edit-location-container {
  height: 200px;
}
.delete-location-container {
  height: 230px;
}
.paramDisabled {
  background-color: grey;
}
.input-param {
  width: 170px;
  height: 20px;
}
.delete-location-text {
  text-align: left;
  color: red;
}
.unassigned-devices {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(240, 239, 235);
}
.unassigned-device {
  margin: 15px;
  width: 200px;
  background-color: #ccc;
}
.title-unassigned {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.arrow {
  width: 60px;
  margin-left: auto;
  display: block;
  padding-top: 20px;
  padding-right: 20px;
}
.arrow:hover{
  cursor: pointer;
}
.unassigned-devices{
  width: 100%;
  
}
.unassigned-container{
  display: flex;
  flex-wrap: wrap;
}
